*{
    box-sizing: border-box;
}
html{
    height: 100vh;
}
body{
    background-color: #001f3f;
    height: 100%;
    color: white;
}
.flex-container{
    display: flex;
    flex-direction: column;
    margin: 0.7em;
  
}
h1 {
    display: flex;
    justify-content: center;
    padding: 1.2em;
    font-size: 1.3rem;
}

.content{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.board {
    height: 400px;
    width: 600px;
    background-color: white;
    display: grid;
    border: 1px green solid;
    align-self: center;
}

div > .buttons{
    align-self: center;
}

div > .input{
    align-self: center;
}