body{
    background-color: wheat;
}
.flex-container{
    display: flex;
    flex-direction: column;
    
}
.title {
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.board {
    height: 500px;
    width: 500px;
    background-color: white;
    display: grid;
    border: 1px green solid;
    align-self: center;
}

div > .buttons{
    align-self: center;
}

div > .input{
    align-self: center;
}